<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="HandheldFriendly" content="true" />
    <link rel="stylesheet" href="style.css" />
    <title>ProbX</title>
  </head>
  <body>
    <div id="center">
      <h1>ProbX</h1>
      <p>Calculate math problems.</p>
      <a href="/app">try it here.</a>
    </div>
  </body>
</html>
